<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Twój Sklep z Grami!</title>
  <link rel="stylesheet" href="/basket.css"/>
  <link rel="stylesheet" href="/commons.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <style>
        h1 {text-align: center;}
        p {text-align: center;}
    </style>
</head>
<body>
<div th:replace="fragments.html :: header"></div>
<div th:replace="fragments.html :: menu"></div>
<div id="content">
  <th:block th:each="basketPosition : ${basket.basketPositions}">
    <div class="position">
      <p th:text="${basketPosition.game.title}" class="game-title"></p>
      <div class="shop-info">
        <div th:text="${basketPosition.game.platform}" class="game-platform"></div>
        <div th:text="'Ilość sztuk: ' + ${basketPosition.pieces}" class="game-pieces"></div>
        <div th:text="'Kod produktu: ' + ${basketPosition.game.code}" class="game-code"></div>
      </div>
        <div th:text="'Cena za sztukę: ' + ${basketPosition.game.price} + 'zł'" class="game-price"></div>
        <div th:text="'Cena łacznie:' + ${basketPosition.pieces * basketPosition.game.price} + 'zł'" class="total-price-position"></div>
        <a th:href="@{/removeGameFromBasket/{code}(code=${basketPosition.game.code})}" class= "remove-button"><i class="fas fa-trash-alt"></i></a>
    </div>
  </th:block>
  <div class="total">
    <div th:text="${'TOTAL: ' + sum} + 'zł'"></div>
    <a id="confirm-button" href="/order">Potwierdź zamówienie </a>
  </div>
</div>
</body>
</html>